[submodule "python_email_notification"]
	path = python_email_notification
	url = https://github.com/ALEXJAZZ008008/python_email_notification.git
[submodule "DIP_reg_data"]
	path = DIP_reg_data
	url = https://github.com/ALEXJAZZ008008/DIP_reg_data.git
